<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title> Thêm sản phẩm </title>
    <style>
        .shadow-text {
            text-shadow: 1px  1px 2px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<!-- tại sao lại dùng post mà không dùng put ? -->

<body>
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="card shadow-lg rounded-4 p-5">
            <!-- Nhớ lưu ý: form phải có action và post,  multipart/form-data thì có thể có/ko tùy vào có upload file hay không-->
            <form id="productForm" action="/products/add" method="post" enctype="multipart/form-data" class="shadow-text" novalidate>
                <div class="mb-4">
                    <a href="/products" class="link-primary"> Quay lại </a>
                </div>
                <h2 class="text-success mb-4"> Thêm sản phẩm mới </h2>
                <div class="form-group mb-4">
                    <label for="product_name" class="mb-1"> Tên sản phẩm: </label>
                    <input type="text" class="form-control" name="product_name" placeholder="Nhập tên sản phẩm"
                        required>
                </div>
                <div class="form-group mb-4">
                    <label for="image" class="mb-1">Ảnh sản phẩm:</label>
                    <input type="file" class="form-control" name="image" required>
                </div>
                <div class="form-group mb-4">
                    <label for="price" class="mb-1"> Giá sản phẩm: </label>
                    <input type="text" class="form-control" name="price" placeholder="Nhập giá sản phẩm" required>
                </div>

                <div class="form-group mb-4">
                    <label for="description" class="mb-1"> Mô tả: </label>
                    <textarea type="text" class="form-control" name="description" placeholder="Nhập mô tả" rows="4"></textarea>
                </div>
                <div id="errMsg" class="alert alert-danger text-danger d-none"> Vui lòng nhập đầy đủ thông tin </div>
                <button type="submit" class="btn btn-success  mb-2 mt-2">Thêm sản phẩm</button>
            </form>
        </div>
    </div>

    <script>
        const form = document.getElementById('productForm');
        const errMsg = document.getElementById('errMsg');

        form.addEventListener('submit', (e) =>{
            const inputs = form.querySelectorAll('input[required], textarea[required]');
            let allFilled = true

            inputs.forEach(element => {
                if (!element.value.trim()){
                    allFilled = false
                }
            });

            if (!allFilled){
                e.preventDefault()
                errMsg.classList.remove('d-none')
            }else{
                errMsg.classList.add("d-none")
            }
        }) 
        // submit, click, scroll, 
    </script>
</body>

</html>